# FOUNDATIONS OF COMPUTER SCIENCE PROJECT

#### This dataset, called the Zurich Transit Bus (ZTBus) dataset, contains information recorded during the journeys of electric city buses in Zurich, Switzerland. The data was collected over several years from two trolley buses as part of various research projects. It includes data from over a thousand missions, covering all seasons and each mission typically lasts a full day of real bus operation.

#### The ZTBus dataset provides detailed information on various aspects such as the bus's power usage, propulsion system, distance traveled, GPS location, outside temperature, door openings, number of passengers and how the buses are dispatched within the public transportation network. All the data is synchronized in time and includes a timestamp.

#### Researchers can use this dataset for different studies and analyses. For example, it can be used as a foundation for simulations to estimate the performance of different types of public transit vehicles. Additionally, it can help evaluate and improve the control strategies of hybrid electric vehicles. The dataset allows for in-depth analysis of various factors influencing bus operation, such as traffic conditions and passenger volume.

In [1]:
import numpy as np
import pandas as pd
import os
from tqdm.notebook import tqdm
import datetime

In [2]:
trips = pd.read_csv('metaData.csv')

In [3]:
trips.head().T

,0,1,2,3,4
name,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,B183_2019-04-30_13-22-07_2019-04-30_17-54-02,B183_2019-05-01_05-58-51_2019-05-01_22-32-30,B183_2019-05-03_02-50-21_2019-05-03_05-53-20,B183_2019-05-03_15-41-57_2019-05-03_23-06-24
busNumber,183,183,183,183,183
startTime_iso,2019-04-30T03:18:56Z,2019-04-30T13:22:07Z,2019-05-01T05:58:51Z,2019-05-03T02:50:21Z,2019-05-03T15:41:57Z
startTime_unix,1556594336,1556630527,1556690331,1556851821,1556898117
endTime_iso,2019-04-30T08:44:20Z,2019-04-30T17:54:02Z,2019-05-01T22:32:30Z,2019-05-03T05:53:20Z,2019-05-03T23:06:24Z
endTime_unix,1556613860,1556646842,1556749950,1556862800,1556924784
drivenDistance,77213.87,59029.6,240900.4,42565.48,125277.2
busRoute,-,31,33,-,72
energyConsumption,478585200.0,402258500.0,1445733000.0,281986700.0,620725800.0
itcs_numberOfPassengers_mean,5.53886,33.11458,19.68914,1.685185,23.75357
itcs_numberOfPassengers_min,0,4,0,0,1
itcs_numberOfPassengers_max,20,74,55,8,67
status_gridIsAvailable_mean,0.74064,0.855234,0.77786,0.767122,0.907342
temperature_ambient_mean,282.378,287.5443,288.749,282.4129,284.7325
temperature_ambient_min,281.15,285.15,280.15,281.15,282.15
temperature_ambient_max,293.15,293.15,294.15,292.15,287.15

### Q1.Extract all trips with busRoute 83?

In [4]:
bus_83 = trips.loc[trips.busRoute=="83",]
bus_83

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max
154,B183_2020-03-03_04-42-38_2020-03-03_19-44-51,183,2020-03-03T04:42:38Z,1583210558,2020-03-03T19:44:51Z,1583264691,225047.90,83,1.544278e+09,23.47531,0,118,0.472180,280.5450,279.15,289.1500
155,B183_2020-03-06_04-53-23_2020-03-06_19-44-42,183,2020-03-06T04:53:23Z,1583470403,2020-03-06T19:44:42Z,1583523882,224512.30,83,1.631816e+09,17.41578,0,69,0.451028,279.8850,278.15,289.1500
157,B183_2020-03-09_14-16-13_2020-03-09_19-34-17,183,2020-03-09T14:16:13Z,1583763373,2020-03-09T19:34:17Z,1583782457,77824.36,83,5.406013e+08,23.18182,0,74,0.460099,281.0489,279.15,291.1500
158,B183_2020-03-10_04-50-03_2020-03-10_19-51-25,183,2020-03-10T04:50:03Z,1583815803,2020-03-10T19:51:25Z,1583869885,225095.80,83,1.692171e+09,20.96410,0,86,0.475233,279.8363,279.15,291.1500
159,B183_2020-03-12_04-56-41_2020-03-12_19-44-57,183,2020-03-12T04:56:41Z,1583989001,2020-03-12T19:44:57Z,1584042297,224181.20,83,1.145860e+09,17.21235,0,80,0.340882,287.3445,282.15,291.1500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1399,B208_2022-11-30_04-47-53_2022-11-30_19-50-22,208,2022-11-30T04:47:53Z,1669783673,2022-11-30T19:50:22Z,1669837822,223165.00,83,1.560888e+09,27.89066,2,100,0.456196,280.6948,279.15,293.1500
1400,B208_2022-12-01_05-19-41_2022-12-01_18-20-57,208,2022-12-01T05:19:41Z,1669871981,2022-12-01T18:20:57Z,1669918857,190196.00,83,1.418847e+09,26.03927,0,96,0.450413,279.7655,279.15,292.1500
1401,B208_2022-12-02_04-47-48_2022-12-02_19-40-01,208,2022-12-02T04:47:48Z,1669956468,2022-12-02T19:40:01Z,1670010001,224473.40,83,1.611150e+09,24.80384,2,91,0.438693,279.7888,279.15,291.1500
1405,B208_2022-12-07_05-13-02_2022-12-07_19-19-53,208,2022-12-07T05:13:02Z,1670389982,2022-12-07T19:19:53Z,1670440793,210041.60,83,1.536697e+09,28.78539,0,115,0.434858,279.5283,278.15,292.6655
1406,B208_2022-12-08_05-22-20_2022-12-08_18-39-15,208,2022-12-08T05:22:20Z,1670476940,2022-12-08T18:39:15Z,1670524755,190372.70,83,1.415700e+09,29.87940,0,102,0.439916,279.1724,277.15,292.1500

# Q2.Extract all trips where busRoute is not a number

In [5]:
def not_numeric(x):
    if x.isnumeric():
        return False
    else:
        return True

In [6]:
non_num = trips.loc[trips.busRoute.apply(not_numeric),]
non_num

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max
0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,2019-04-30T03:18:56Z,1556594336,2019-04-30T08:44:20Z,1556613860,77213.87,-,4.785852e+08,5.538860,0,20,0.740640,282.3780,281.15,293.15
3,B183_2019-05-03_02-50-21_2019-05-03_05-53-20,183,2019-05-03T02:50:21Z,1556851821,2019-05-03T05:53:20Z,1556862800,42565.48,-,2.819867e+08,1.685185,0,8,0.767122,282.4129,281.15,292.15
9,B183_2019-05-10_03-16-11_2019-05-10_18-51-37,183,2019-05-10T03:16:11Z,1557458171,2019-05-10T18:51:37Z,1557514297,210577.00,-,1.303391e+09,8.230483,0,43,0.740927,287.5623,282.15,293.15
10,B183_2019-05-13_03-10-23_2019-05-13_23-16-13,183,2019-05-13T03:10:23Z,1557717023,2019-05-13T23:16:13Z,1557789373,267033.80,-,1.647432e+09,7.891652,0,45,0.804191,284.6764,280.15,293.15
19,B183_2019-05-24_02-52-47_2019-05-24_22-35-11,183,2019-05-24T02:52:47Z,1558666367,2019-05-24T22:35:11Z,1558737311,263432.60,-,1.448057e+09,7.520249,0,44,0.761068,293.1440,283.15,299.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1373,B208_2022-10-21_22-38-32_2022-10-22_02-42-21,208,2022-10-21T22:38:32Z,1666391912,2022-10-22T02:42:21Z,1666406541,78567.16,N1,4.347766e+08,16.333330,0,45,0.431852,289.2550,288.15,296.15
1374,B208_2022-10-22_22-34-45_2022-10-23_02-29-59,208,2022-10-22T22:34:45Z,1666478085,2022-10-23T02:29:59Z,1666492199,73427.97,N2,3.997737e+08,17.710530,0,57,0.443358,287.3486,285.15,295.15
1394,B208_2022-11-25_23-35-16_2022-11-26_03-30-39,208,2022-11-25T23:35:16Z,1669419316,2022-11-26T03:30:39Z,1669433439,72911.26,N2,4.475534e+08,11.216670,1,32,0.465024,281.3884,280.15,293.15
1407,B208_2022-12-09_23-55-12_2022-12-10_03-24-28,208,2022-12-09T23:55:12Z,1670630112,2022-12-10T03:24:28Z,1670642668,59548.57,N1,4.519165e+08,20.105260,0,74,0.495739,279.4540,277.15,291.15
1408,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,208,2022-12-10T23:34:46Z,1670715286,2022-12-11T03:29:05Z,1670729345,72293.83,N2,5.350956e+08,15.993200,0,52,0.459492,276.0036,273.15,291.15

# Q3.For each (busNumber, busRoute) pair, determine the number of trips

In [7]:
counts = trips.groupby(["busNumber", "busRoute"]).count()
counts

                    name  startTime_iso  startTime_unix  endTime_iso  \
busNumber busRoute
183       -           11             11              11           11
          31          12             12              12           12
          32          12             12              12           12
          33         130            130             130          130
          46         104            104             104          104
          72         114            114             114          114
          83         441            441             441          441
          N1          10             10              10           10
          N2          19             19              19           19
          N4          11             11              11           11
208       31           5              5               5            5
          32          14             14              14           14
          33          25             25              25           25
          46          19             19              19           19
          72          44             44              44           44
          83         405            405             405          405
          N1           6              6               6            6
          N2          20             20              20           20
          N4           7              7               7            7

                    endTime_unix  drivenDistance  energyConsumption  \
busNumber busRoute
183       -                   11              11                 11
          31                  12              12                 12
          32                  12              12                 12
          33                 130             130                130
          46                 104             104                104
          72                 114             114                114
          83                 441             441                441
          N1                  10              10                 10
          N2                  19              19                 19
          N4                  11              11                 11
208       31                   5               5                  5
          32                  14              14                 14
          33                  25              25                 25
          46                  19              19                 19
          72                  44              44                 44
          83                 405             405                405
          N1                   6               6                  6
          N2                  20              20                 20
          N4                   7               7                  7

                    itcs_numberOfPassengers_mean  itcs_numberOfPassengers_min  \
busNumber busRoute
183       -                                   11                           11
          31                                  12                           12
          32                                  12                           12
          33                                 130                          130
          46                                 104                          104
          72                                 114                          114
          83                                 441                          441
          N1                                  10                           10
          N2                                  19                           19
          N4                                  11                           11
208       31                                   5                            5
          32                                  14                           14
          33                                  25                           25
          46                                  19                           19
          72                                  44                           44
          83                                 405                          405
          N1                                   6                            6
          N2                                  20                           20
          N4                                   7                            7

                    itcs_numberOfPassengers_max  status_gridIsAvailable_mean  \
busNumber busRoute
183       -                                  11                           11
          31                                 12                           12
          32                                 12                           12
          33                                130                          130
          46                                104                          104
          72                                114                          114
          83                                441                          441
          N1                                 10                           10
          N2                                 19                           19
          N4                                 11                           11
208       31                                  5                            5
          32                                 14                           14
          33                                 25                           25
          46                                 19                           19
          72                                 44                           44
          83                                405                          405
          N1                                  6                            6
          N2                                 20                           20
          N4                                  7                            7

                    temperature_ambient_mean  temperature_ambient_min  \
busNumber busRoute
183       -                               11                       11
          31                              12                       12
          32                              12                       12
          33                             130                      130
          46                             104                      104
          72                             114                      114
          83                             441                      441
          N1                              10                       10
          N2                              19                       19
          N4                              11                       11
208       31                               5                        5
          32                              14                       14
          33                              25                       25
          46                              19                       19
          72                              44                       44
          83                             405                      405
          N1                               6                        6
          N2                              20                       20
          N4                               7                        7

                    temperature_ambient_max
busNumber busRoute
183       -                              11
          31                             12
          32                             12
          33                            130
          46                            104
          72                            114
          83                            441
          N1                             10
          N2                             19
          N4                             11
208       31                              5
          32                             14
          33                             25
          46                             19
          72                             44
          83                            405
          N1                              6
          N2                             20
          N4                              7

# Q4.For each trip, compute the ratio between the energy consumption and the average number of passengers

In [8]:
trips['energy_passenger_ratio'] = trips['energyConsumption'] / trips['itcs_numberOfPassengers_mean']
trips['energy_passenger_ratio']

0       8.640500e+07
1       1.214747e+07
2       7.342794e+07
3       1.673328e+08
4       2.613190e+07
            ...
1404    1.070215e+07
1405    5.338462e+07
1406    4.738047e+07
1407    2.247753e+07
1408    3.345769e+07
Name: energy_passenger_ratio, Length: 1409, dtype: float64

# Q5.For each station (itcs_stopName), determine the average number of passengers.

In [9]:
folder_name = pd.read_csv('ZTBus.csv')
folder_path = os.path.join(folder_name)

#list of files in folder
files = os.listdir(folder_path)

#list CSV files
csv_files = [file for file in files if file.endswith('.csv')]

In [10]:
detail = []
columns = [ 'time_iso','itcs_stopName','itcs_numberOfPassengers','gnss_altitude','status_haltBrakeIsActive', 
           'status_parkBrakeIsActive','odometry_vehicleSpeed']
i=0
for file in tqdm(csv_files):
    file_path = os.path.join(folder_path, file)
    df = pd.read_csv(file_path,usecols=columns,na_values="-",low_memory=False)
    df["Name"] = file[:-4]
    df["busNumber"] = file[1:4]
    df["time_iso"] = pd.to_datetime(df["time_iso"])
    detail.append(df)

detail = pd.concat(detail)

  0%|          | 0/1409 [00:00<?, ?it/s]

In [11]:
detail.head()

,time_iso,gnss_altitude,itcs_numberOfPassengers,itcs_stopName,odometry_vehicleSpeed,status_haltBrakeIsActive,status_parkBrakeIsActive,Name,busNumber
0,2019-04-30 03:18:56+00:00,NaN,NaN,NaN,0.0,0.0,0.0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183
1,2019-04-30 03:18:57+00:00,NaN,NaN,NaN,0.0,0.0,0.0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183
2,2019-04-30 03:18:58+00:00,NaN,NaN,NaN,0.0,0.0,0.0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183
3,2019-04-30 03:18:59+00:00,NaN,NaN,NaN,0.0,0.0,0.0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183
4,2019-04-30 03:19:00+00:00,NaN,NaN,NaN,0.0,0.0,0.0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183

In [12]:
avg_passenger  = detail.groupby("itcs_stopName")["itcs_numberOfPassengers"].mean()
avg_passenger

itcs_stopName
Zürich, Albisrank                 16.196598
Zürich, Albisriederplatz          25.453398
Zürich, Altes Krematorium         21.980348
Zürich, Bahnhof Affoltern          2.850746
Zürich, Bahnhof Altstetten         7.816580
                                    ...
Zürich, Zentrum Witikon           17.255102
Zürich, Zweiackerstrasse           7.502203
Zürich, Zwielplatz                 2.049383
Zürich, Zwinglihaus               23.196668
Zürich,Kalkbreite/Bhf.Wiedikon    23.160748
Name: itcs_numberOfPassengers, Length: 149, dtype: float64

# Q6.  For each station, determine the buses that have stopped there at least once.

In [13]:
stop = detail.groupby(["itcs_stopName","busNumber"]).size().reset_index(name="stopCount")
stop.loc[stop.stopCount>=1,:]

                      itcs_stopName busNumber  stopCount
0                 Zürich, Albisrank       183       6324
1                 Zürich, Albisrank       208       6199
2          Zürich, Albisriederplatz       183      11218
3          Zürich, Albisriederplatz       208       7633
4         Zürich, Altes Krematorium       183      10022
..                              ...       ...        ...
292              Zürich, Zwielplatz       208          4
293             Zürich, Zwinglihaus       183       2791
294             Zürich, Zwinglihaus       208       1231
295  Zürich,Kalkbreite/Bhf.Wiedikon       183        279
296  Zürich,Kalkbreite/Bhf.Wiedikon       208        256

[297 rows x 3 columns]

# Q7.For each station, determine the buses that have stopped there at least ten times.

In [14]:
stop.loc[stop.stopCount>=10,:]

                      itcs_stopName busNumber  stopCount
0                 Zürich, Albisrank       183       6324
1                 Zürich, Albisrank       208       6199
2          Zürich, Albisriederplatz       183      11218
3          Zürich, Albisriederplatz       208       7633
4         Zürich, Altes Krematorium       183      10022
..                              ...       ...        ...
291              Zürich, Zwielplatz       183         77
293             Zürich, Zwinglihaus       183       2791
294             Zürich, Zwinglihaus       208       1231
295  Zürich,Kalkbreite/Bhf.Wiedikon       183        279
296  Zürich,Kalkbreite/Bhf.Wiedikon       208        256

[295 rows x 3 columns]

# Q8. For each (route, bus) pair, compute the ratio between the overall energy consumption and the overall driven distance.

In [15]:
group = trips.groupby(["busNumber","busRoute"]).sum().loc[:,["energyConsumption","drivenDistance"]].reset_index()
group["ratio"] = group["energyConsumption"]/group["drivenDistance"]
group

    busNumber busRoute  energyConsumption  drivenDistance        ratio
0         183        -       1.245498e+10      1999119.75  6230.233181
1         183       31       1.387782e+10      2279952.00  6086.891785
2         183       32       1.393320e+10      2256540.10  6174.585331
3         183       33       1.761996e+11     29510481.41  5970.747507
4         183       46       1.026237e+11     18224657.94  5631.035959
5         183       72       1.394368e+11     23637238.45  5899.029643
6         183       83       2.995540e+11     51249813.70  5844.977154
7         183       N1       4.217283e+09       705122.71  5980.920966
8         183       N2       7.929098e+09      1390618.35  5701.850332
9         183       N4       4.720068e+09       766868.89  6154.986937
10        208       31       5.535865e+09      1046306.68  5290.862713
11        208       32       1.283340e+10      2337064.21  5491.247671
12        208       33       3.474842e+10      6161892.39  5639.244537
13        208       46       2.337366e+10      4186493.70  5583.110707
14        208       72       5.100382e+10      9427138.15  5410.318878
15        208       83       2.907837e+11     49965928.79  5819.638891
16        208       N1       2.316328e+09       410691.93  5640.061883
17        208       N2       7.913191e+09      1464008.67  5405.152963
18        208       N4       3.152512e+09       519599.97  6067.190112

# Q9. Starting from the results of the previous point, for each route compute the buses with max and min energy ratio, and save the difference between these ratios in a dataframe.

In [16]:
difference = group.groupby(["busRoute"])["ratio"].agg(["min","max"])
difference["diff"] = difference["max"]- difference["min"]
difference

                  min          max        diff
busRoute
-         6230.233181  6230.233181    0.000000
31        5290.862713  6086.891785  796.029072
32        5491.247671  6174.585331  683.337660
33        5639.244537  5970.747507  331.502969
46        5583.110707  5631.035959   47.925252
72        5410.318878  5899.029643  488.710765
83        5819.638891  5844.977154   25.338263
N1        5640.061883  5980.920966  340.859083
N2        5405.152963  5701.850332  296.697369
N4        6067.190112  6154.986937   87.796825

# Q10.Find the bus maximizing the difference computed in the previous point.

In [17]:
difference.idxmax().sum()

'--31'

# Q11. Extract the rows of the details such that the gnss_altitude differs from the value in the preceding row. Store also the difference in the variable altitude_variation.

In [18]:
detail["altitude_variation"] = detail.loc[:,"gnss_altitude"].fillna(0).diff()
extract = detail.loc[detail["altitude_variation"].notnull() & detail["altitude_variation"]!=0,:]
extract

,time_iso,gnss_altitude,itcs_numberOfPassengers,itcs_stopName,odometry_vehicleSpeed,status_haltBrakeIsActive,status_parkBrakeIsActive,Name,busNumber,altitude_variation
142,2019-04-30 03:21:18+00:00,397.8000,NaN,NaN,3.228894,0.0,0.0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,397.8000
148,2019-04-30 03:21:24+00:00,397.8299,NaN,NaN,3.793694,0.0,0.0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,0.0299
149,2019-04-30 03:21:25+00:00,400.3140,NaN,NaN,4.045902,0.0,0.0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,2.4841
150,2019-04-30 03:21:26+00:00,401.6892,NaN,NaN,4.404461,0.0,0.0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,1.3752
151,2019-04-30 03:21:27+00:00,400.4860,NaN,NaN,4.860109,0.0,0.0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,-1.2032
...,...,...,...,...,...,...,...,...,...,...
14043,2022-12-11 03:28:49+00:00,NaN,NaN,NaN,0.000000,0.0,1.0,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,208,-413.7306
14054,2022-12-11 03:29:00+00:00,410.1028,NaN,NaN,0.000000,0.0,1.0,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,208,410.1028
14055,2022-12-11 03:29:01+00:00,410.1916,NaN,NaN,0.000000,0.0,1.0,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,208,0.0888
14056,2022-12-11 03:29:02+00:00,410.8726,NaN,NaN,0.000000,0.0,1.0,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,208,0.6810
14057,2022-12-11 03:29:03+00:00,NaN,NaN,NaN,0.000000,0.0,1.0,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,208,-410.8726

# Q12. For each details dataset, compute the sum of the absolute value (i.e. the sign is not considered) of altitude_variation.

In [19]:
abs_Value=extract.groupby("Name")["altitude_variation"].apply(lambda x: x.abs().sum())
abs_Value

Name
B183_2019-04-30_03-18-56_2019-04-30_08-44-20     2589.3180
B183_2019-04-30_13-22-07_2019-04-30_17-54-02    37115.8798
B183_2019-05-01_05-58-51_2019-05-01_22-32-30    10880.7106
B183_2019-05-03_02-50-21_2019-05-03_05-53-20    48653.7024
B183_2019-05-03_15-41-57_2019-05-03_23-06-24    62569.6254
                                                   ...
B208_2022-12-06_14-43-49_2022-12-06_18-22-52     7276.5896
B208_2022-12-07_05-13-02_2022-12-07_19-19-53     9348.5248
B208_2022-12-08_05-22-20_2022-12-08_18-39-15     8854.0308
B208_2022-12-09_23-55-12_2022-12-10_03-24-28     4778.2577
B208_2022-12-10_23-34-46_2022-12-11_03-29-05    13728.8201
Name: altitude_variation, Length: 1409, dtype: float64

# Q13.For each month of the year, compute the average ambient temperature

In [20]:
trips['startTime_iso'] = pd.to_datetime(trips['startTime_iso'])
trips['startTime_month'] = trips['startTime_iso'].dt.month_name()

In [21]:
mean_temperature_by_month =trips.groupby("startTime_month")["temperature_ambient_mean"].mean()

mean_temperature_by_month_sorted = mean_temperature_by_month.sort_values(ascending=True)
mean_temperature_by_month_sorted

startTime_month
January      278.958474
December     279.381561
February     280.529928
November     281.884420
March        283.319157
April        286.608216
October      287.714072
May          290.051582
September    292.362038
August       295.847943
June         296.143297
July         297.376967
Name: temperature_ambient_mean, dtype: float64

# Q14. For each bus compute the total time when the halt brake is active and the total time when the park brake is active. Compute also the ratio between those two times.

In [ ]:
detail["time_diff"] = detail.groupby("Name")['time_iso'].diff()
detail["time_diff"] = detail["time_diff"].fillna(datetime.timedelta(seconds=1))
detail["time_diff"] = detail["time_diff"].apply(datetime.timedelta.total_seconds)

In [ ]:
halt = detail.loc[detail.status_haltBrakeIsActive==1,:].groupby("busNumber")["time_diff"].sum().reset_index(name="Total_HaltBrake")
park = detail.loc[detail.status_parkBrakeIsActive==1,:].groupby("busNumber")["time_diff"].sum().reset_index(name="Total_ParkBrake")

merge = pd.merge(halt,park)

In [ ]:
merge["Ratio"] = merge["Total_HaltBrake"]/merge["Total_ParkBrake"]
merge["Ratio"]

# Q15.For each pair of stops that are consecutive in at least a trip, compute the average speed achieved when going from the first to the second stop.

In [ ]:
notnull_rows = detail.loc[detail["itcs_stopName"].notnull(),:]
notnull_rows.head()

In [ ]:
trip_name = notnull_rows.loc[:,"Name"].unique()

In [ ]:
l=[]
for trip in trip_name:
    df = pd.DataFrame()
    trip_rows = notnull_rows.loc[notnull_rows.Name==trip,:]
    df["consecutive_stops"] = trip_rows.loc[:,"itcs_stopName"] + " -> " + trip_rows.shift(-1).loc[:,"itcs_stopName"]
    df["Average speed"] = np.mean(trip_rows.loc[:,"odometry_vehicleSpeed"] + trip_rows.shift(-1).loc[:,"odometry_vehicleSpeed"])
    df = df.dropna()
    l.append(df)

In [ ]:
Cons_station_avg_speed = pd.concat(l, ignore_index=True).groupby("consecutive_stops").mean().round(3)
Cons_station_avg_speed